* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #fce4ec;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: #fb8c00;
}
.input-box > label {
  display: none;
}
.input-box > input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #000;
}
.todo-list > li {
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.todo-write {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ffbd45;
}
.todo-write > .delete {
  position: fixed;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #f57f17;
  font-weight: bold;
  bottom: 30px;
  right: 30px;
  padding: 0.75rem 1rem;
  border-radius: 8px;
}
.todo-list > li > span > i {
  user-select: none;
  cursor: pointer;
}
.todo-like {
  flex: 1;
}
.todo-item {
  flex: 8;
}
.done .todo-item {
  text-decoration: line-through;
  color: #808080;
}
.todo-manage {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.done .check {
  opacity: 0.25;
}
.like {
  font-size: 18px !important;
  color: #ff94c2;
}
.check {
  color: #43a047;
}
.clear {
  color: #d50000;
}